<h1>I will edit an existing goal</h1>

<<<<<<< HEAD




<form action="/goals/<%=@goal.id%>" method= "POST">
<input type="hidden" name="_method" value="patch">
<label for="description"> Change Goal:</label>
<textarea name="goal[title]"><%=@goal.title%></textarea>
<input type="submit" >
</form>



#edit form
<form action="/goals/<%=@goal.id%>" method= "POST">
<input type="hidden" name="_method" value="patch">
<label for="description"> Goal:</label>
<textarea name="goal[title]"><%=@goal.title%></textarea>
<input type="submit" >
</form>
=======
<div class="jumbotron">
  <h1 class="display-4">Change of Plans...</h1>
  <p class="lead">Can edit goal</p>
   
</div>





<form action="/goals/<%= @goal.id %>" method= "POST">
<input type="hidden" name="_method" id="hidden" value="patch">
<label for="title"> Goal: </label>
<textarea name="goal[title]" cols="30" rows="10" ><%=@goal.title%></textarea>
>>>>>>> parent of 21d4cb5...  step closer to resolving edit issue, edit page appears, edit form submitting and returning to edit page because edit did not process

<input type="submit" value="Submit Changes" >
</form>